.profile__img-button {
  z-index: 1;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  object-fit: contain;
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
}

.profile__img-button:hover {
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url('../../../images/EditIcon.svg');
  cursor: pointer;
}

/* @media screen and (max-width: 600px) {
  .profile__img-button {
    margin: 5px 0 0 10px;
    width: 18px;
    height: 18px;
  }
} */
