.popup__box {
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .popup__box {
    width: 282px;
    padding: 25px 22px;
  }
}
