.card__like-btn {
  min-width: 21px;
  height: 19px;
  background-image: url(../../../images/like-btn.svg);
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border-style: none;
}

.card__like-btn:hover {
  opacity: 0.5;
}
