.wrapper {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .wrapper {
    max-width: 582px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 320px;
  }
}

