.popup__close-btn_type_add-card {
  position: absolute;
  top: -38px;
  right: -38px;
}

@media screen and (max-width: 600px) {
  .popup__close-btn_type_add-card {
    width: 30px;
    height: 30px;
    top: -28px;
    right: -28px;
  }
}
