.non-authorized-zone__button {
  align-self: stretch;
  height: 50px;
  cursor: pointer;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border-style: none;
  font-weight: 400;
  font-size: 18px;
  border-radius: 2px;
}

.non-authorized-zone__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 600px) {
  .non-authorized-zone__button {
    height: 46px;
    font-size: 16px;
  }
}
